<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
  <li class="header">MAIN NAVIGATION</li>
  <li class="active">
    <a href="#/">
      <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    </a>
    <ul class="treeview-menu">
      <li><a href="#/products"><i class="fa fa-circle-o"></i>产品管理</a></li>
      <li><a href="#/orders"><i class="fa fa-circle-o"></i>订单管理</a></li>
    </ul>
  </li>

</ul>
